@CHARSET "UTF-8";

.categories-style {
	width: 50%;
	margin-left: 15%;
	border: 1px solid black;
	border-collapse: collapse;
}

.categories-backward-style {
	width: 50%;
	margin-left: 15%;
	border-style: none;
	
}

.products-style {
	width: 80%;
	margin-left: 10%;
	border: 1px solid black;
	border-collapse: collapse;
}

.products-backward-style {
	margin-left: 10%;
	border-style: none;
}

.prompt {
    color: red;
}

div.table-content td {
	border: 1px solid black;
}

